.fate.core.character-sheet .window-content {
	h2 {
		font-size: 1em;
	}

	.logo {
		height: 106px;
	}

	.property {
		flex-direction: row;

		&-label {
			width: 70px;
			font-size: 0.7em;
		}

		&-input,
		&-textarea {
			flex: 1;
		}
	}

	.refresh {
		display: flex;
		flex-direction: column;

		.refresh-boxes {
			display: flex;

			.property {
				display: flex;
				flex-direction: column;
				height: 100%;

				&-input {
					flex: 1;
					font-size: 2.5em;
				}
			}
		}
	}

	.aspects {
		flex: 1;

		.other {
			.property-label {
				width: auto;
				padding-left: 6px;
				font-size: 0.9em;
				font-weight: bold;
				text-align: center;
				writing-mode: vertical-lr;
				transform: rotate(180deg);
			}
		}

		.other-list {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
	}

	.skills {
		flex: 1;
		display: flex;
		flex-direction: column;

		&-list {
			flex: 1;
			display: flex;
			flex-direction: column;
		}

		&-rows {
			flex: 1;
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}

		&-level {
			width: 85px;
			margin-right: 4px;
			text-align: right;
		}

		&-boxes {
			flex: 1;
			display: flex;
			height: 100%;
		}

		.skill-box {
			display: flex;
			align-items: center;
			width: 76px;
			height: 25.5px;
			margin-bottom: 0;
			padding: 2px;
			border: 2px solid black;
			background: hsla(0, 0, 100%, 0.75);
			font-size: 0.9em;
			font-weight: bold;

			&:not(:last-child) {
				margin-right: 4px;
			}

			@for $l from 1 through 5 {
				@for $i from 0 through 4 {
					@if $i >= 5 - $l {
						&__#{$l}#{$i} {
							border-color: hsl(0, 0, 40%);
							background-color: hsla(0, 0, 95%, 0.75);
						}
					}
				}
			}
		}

		.skill-edit {
			cursor: pointer;
		}

		.skill-item {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.items {
		flex: 1;
	}

	.extras {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.stunts {
		&-list {
			flex-direction: column;
		}
	}

	.stress {
		& > *:not(:last-child) {
			margin-bottom: 0.4em;
		}

		&-boxes {
			flex-direction: row;

			.stress-item {
				margin-bottom: 0;

				&:not(:last-child) {
					margin-right: 0.5em;
				}

				&.disabled {
					opacity: 0.5;
				}
			}

			.stress-number {
				margin-top: -0.1em;
				font-size: 1.5em;
			}

			.stress-box {
				width: 2em;
				height: 2em;

				.fa-check {
					font-size: 1.5em;
				}
			}
		}
	}

	.consequences {
		.consequence-value {
			font-size: 1.5em;

			&.disabled {
				opacity: 0.5;
			}
		}

		.property {
			padding: 0.1em;

			&-label {
				width: 50px;
				padding: 0.1em;
			}

			&.disabled {
				opacity: 0.5;
			}
		}

		.mild {
			.property {
				margin: 0;
			}
		}
	}
}

.skill-dialog {
	.text {
		text-align: center;
	}

	.bonus {
		display: flex;
		justify-content: center;
		align-items: center;

		label {
			margin-right: 0.6em;
			font-weight: bold;
		}

		.property {
			width: 40px;
		}
	}

	.dialog-buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4px;

		button {
			border: 2px solid black;
			box-shadow: none;

			&:hover {
				background: hsla(0, 0, 100%, 0.2);
			}
		}

		.fi {
			font-size: 1.6em;
		}
	}
}
